.connect-container {
  /* https://www.goodfreephotos.com/other-landscapes/scenic-view-of-the-mountains-and-pond-landscape.jpg.php */
  background: url("/background.jpg") repeat fixed center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.inner-connect-container {
  max-width: 100%;
  width: 40em;
  position: relative;
  top: 10%;
  margin: auto auto;
}
.connect-blur::before {
  filter: blur(5px);
  background: url("/background.jpg") repeat fixed center center / cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.connect-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dffc;
  border-radius: 0.4em;
  box-shadow: 0 0.3em 0.3em #0005;
}
.connect-form {
  position: relative;
  background-color: #eefa;
  border-radius: 0.4em;
  box-shadow: 0 0.3em 0.3em #0005;
  padding: 0.5em;
}
@media (min-width: 35em) {
  .connect-form {
    padding: 4em 8em 4em 8em;
  }
}
.connect-form > div {
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 1em;
}
.connect-form > div input:not([type='checkbox']),
.connect-form > div button {
  box-sizing: border-box;
  width: 100%;
}
.connected-container > * {
  display: inline-block;
}
.channel-line {
  display: flex;
  align-items: center;
}
.entry-expand {
  flex: 1;
}
.menu-list li ul {
  margin-right: 0 !important;
}
.menu-list li ul {
  margin: 0 !important;
}
.chat {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--channel-tree-width);
  right: 0;
}
.chat-form {
  display: flex;
  width: 100%;
  padding: 0.5em;
  box-shadow: 0px -5px 20px -5px #BBB;
}
.chat-form > * {
  box-sizing: border-box;
  height: 2em;
  font-size: 1em;
}
.chat-form input {
  flex-grow: 1;
  /*background-color: white;
	color: black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: none;
	border-bottom: none;*/
}
/*.chat-form button {
	background-color: white;
	color: blue;
	vertical-align: middle;
	border-top: 1px solid black;
	border-left: none;
	border-right: none;
	border-bottom: none;
}*/
.chat-messages {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5em;
  overflow-y: auto;
}
.chat-messages li {
  padding-bottom: 0.8em;
}
.chat-messages .author {
  font-size: 0.8em;
}
.chat-messages .chat-message {
  /*padding-left: 0.3em;*/
}
.round {
  border-radius: 100%;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: var(--channel-tree-width);
  overflow-y: auto;
  background-color: #ccdce2;
}
:root {
  --channel-tree-width: 20em;
}
* {
  margin: 0;
  color: black;
}
body {
  background: white;
}
input::placeholder {
  color: black;
}
