.channel-line {
	display: flex;
	align-items: center;
}
.entry-expand {
	flex: 1;
}

// overwrite to prevent right stacking
.menu-list li ul {
	margin-right: 0 !important;
}

// Compress layout
.menu-list li ul {
	margin: 0 !important;
}