.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	width: var(--channel-tree-width);
	overflow-y: auto;
	background-color: #eeeeee;
	border-right: rgb(179, 179, 179) 2px solid;
}