.sidebar {
	display: inline-flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	width: var(--channel-tree-width);
	background-color: #eeeeee;
	border-right: rgb(179, 179, 179) 2px solid;
}

.sidebar .level:not(:last-child) {
	margin-bottom: 0;
}