.channel-list {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: white;
	padding: 0;
	user-select: none;

	.menu-label:not(:last-child) {
		padding: 1.5em 0.5em;
		margin-bottom: 0;
		position: relative;
		box-shadow: 0 0.3em 0.3em #BBB;
		font-weight: bold;
	}

	.afk-text {
		font-style: italic;
		color: darkgray;
	}

	// Compress layout
	.menu-list {
		li ul {
			margin: 0 !important;
		}

		a {
			padding-left: 0;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
		}
	}

	> .menu-list {
		overflow-y: auto;
	}

	.own-client, .own-channel {
		font-weight: bold;
	}

	.selected-channel, .selected-client {
		a {
			background-image: linear-gradient(to left, rgba(74,75,234,0.3), rgba(255,255,255,0));
		}
	}

	.icon {
		font-size: 16px;
		margin-right: 0.25em;
	}

	.collapse-button {
		margin-left: 0.5em;
	}

	.collapsed {
		display: none;
	}
}
