.chat {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--channel-tree-width);
	right: 0;
}

.chat-form {
	display: flex;
	width: 100%;
	padding: 0.5em;

	box-shadow: 0px -5px 20px -5px #BBB;
}

.chat-form > * {
	box-sizing: border-box;
	height: 2em;
	font-size: 1em;
}

.chat-form input {
	flex-grow: 1;
	/*background-color: white;
	color: black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: none;
	border-bottom: none;*/
}

/*.chat-form button {
	background-color: white;
	color: blue;
	vertical-align: middle;
	border-top: 1px solid black;
	border-left: none;
	border-right: none;
	border-bottom: none;
}*/

.chat-messages {
	padding: 0.5em;
	overflow-y: auto;
	display: grid;
	grid-template-columns: min-content minmax(0, 1fr);

	.chat-date {
		grid-column-start: 1;
		grid-column-end: 3;
		border-top: 1px solid gray;
		margin: 1em 1em 0em 1em;
		text-align: center;
		color: gray;
	}

	.invoker-icon,
	.invoker-name,
	.message-time,
	.message-content {
		padding: 0.1em 0.5em;
	}

	.invoker-icon {
		grid-column: 1;
	}

	.invoker-name {
		grid-column: 2;
		margin-top: auto;
		margin-bottom: auto;
		//font-size: 0.8em;
	}

	.message-row {
		display: contents;

		&:hover > * {
			background-color: #eee;

			.tool-buttons {
				visibility: visible;
			}
		}
	}

	.message-time {
		grid-column: 1;
		font-size: 0.8em;
		* {
			color: gray;
		}
	}

	.message-content {
		grid-column: 2;
		white-space: pre-wrap;

		// for tool buttons
		position: relative;

		// Overwrite bulma default
		pre {
			padding: 0;
			border-radius: 7px;

			tab-size: 4;
			-moz-tab-size: 4;
		}
	}

	.tool-buttons {
		visibility: hidden;
		position: absolute;
		right: 0;
		top: 0;

		.tool-buttons-wrap {
			position: absolute;
			right: 20px;
			top: -10px;
			flex-wrap: nowrap;
		}
	}

	// View raw toggle

	.message-content {
		.message-raw {
			display: none;
		}
		.message-rendered {
			display: unset;
		}
	}

	.message-content.view_raw {
		.message-raw {
			display: unset;
		}
		.message-rendered {
			display: none;
		}
	}
}

.round {
	border-radius: 100%;
}
