@import "util.less";
@import "connecting.less";
@import "connected.less";
@import "channel_tree.less";
@import "chat.less";
@import "notifications.less";
@import "sidebar.less";
@import "controls/context_menu.less";

:root {
	--channel-tree-width: 20em;
}

* {
	margin: 0;
	color: black;
}

html {
	overflow: hidden !important;
}

body {
	background: white;
}

input::placeholder {
	color: black;
}
