.mdi-dummy::before {
	content: "";
}

.icon {
	background-size: contain;
	background-repeat: no-repeat;
}

.para:not(:last-child) {
	margin-bottom: 1em;
}

.flex-line {
	display: flex !important;
	align-items: baseline;
}

.text-collapse {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.expand {
	flex: 1;
	min-width: 0;
}
