:root {
	--channel-tree-width: 20em;
}

* {
	margin: 0;
}

body {
	background: white;
	color: black;
}

input {
	color: black;
}

/* Connecting */

.connect-container {
	/* https://www.goodfreephotos.com/other-landscapes/scenic-view-of-the-mountains-and-pond-landscape.jpg.php */
	background: url("background.jpg") repeat fixed center center / cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.inner-connect-container {
	max-width: 100%;
	width: 40em;

	position: relative;
	top: 10%;
	margin: auto auto;
}

.connect-blur::before {
	filter: blur(5px);
	background: url("background.jpg") repeat fixed center center / cover;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.connect-blur {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #dffc;
	border-radius: 0.4em;
	box-shadow: 0 0.3em 0.3em #0005;
}

.connect-form {
	position: relative;
	background-color: #eefa;
	border-radius: 0.4em;
	box-shadow: 0 0.3em 0.3em #0005;
	padding: 0.5em;
}

@media (min-width: 35em) {
	.connect-form {
		padding: 4em 8em 4em 8em;
	}
}

.connect-form > div {
	box-sizing: border-box;
	left: 0;
	right: 0;
	margin: 1em;
}

.connect-form > div input:not([type='checkbox']), .connect-form > div button {
	box-sizing: border-box;
	width: 100%;
}

/* Connected */

.connected-container > * {
	display: inline-block;
}

.channel-tree {
	position: absolute;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	width: var(--channel-tree-width);
	overflow-y: auto;
	background-color: #ccdce2;
}

.channel-tree ul {
	list-style: none;
	padding-left: 1em;
	border-left: solid 1px #0000001c;
}

.channel-tree > ul {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.channel-tree .channel {
	cursor: pointer;
}

.channel-tree .channel.current {
	cursor: auto;
}

.channel-tree .client.current {
	font-weight: bold;
}

/* Chat */

.chat {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--channel-tree-width);
	right: 0;
}

.chat-form {
	display: flex;
	width: 100%;
	padding: 0.5em;

	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: none;
	border-bottom: none;
}

.chat-form > * {
	box-sizing: border-box;
	height: 2em;
	font-size: 1em;
}

.chat-form input {
	flex-grow: 1;
	/*background-color: white;
	color: black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: none;
	border-bottom: none;*/
}

/*.chat-form button {
	background-color: white;
	color: blue;
	vertical-align: middle;
	border-top: 1px solid black;
	border-left: none;
	border-right: none;
	border-bottom: none;
}*/

.chat-messages {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0.5em;
	overflow-y: auto;
}

.chat-messages li {
	padding-bottom: 0.8em;
}

.chat-messages .author {
	font-size: 0.8em;
}

.chat-messages .chat-message {
	/*padding-left: 0.3em;*/
}
