@mixin noBut {
	background: none;
	border: none;
	height: auto;
	padding: 0;

	&:focus {
		box-shadow: none;
	}
}

// For containing a lazylist in a scrollable region
@mixin lazylistContainer {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	line-height: initial;
	border-right: none;

	// The LazyList
	> :global(.lazyList) {
		flex: 1;

		> :global(.lazyListView) {
			overflow-x: scroll;
		}
	}
}

@mixin linkLike {
	color: #57a4e8;
	cursor: pointer;

	&:hover {
		color: #55b2de;
	}
}

@mixin textselectable {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

$highlight-strong: mix($background, $blue, 80%);
$highlight-weak: mix($background, $text, 90%);

$main-blue: #0dead0;