@import "./global_mixin";
@import "./button";

:root {
	--channel-tree-width: 20em;
}

html {
	overflow: hidden;
	background-color: $background;
	scrollbar-color: gray transparent;
}

a {
	@include linkLike;

	&:hover {
		text-decoration: underline;
	}
}

hr {
	min-height: 2px;
}

.update-flash {
	color: rgba(255, 62, 0, 1) !important;
	background-color: rgba(255, 62, 0, 0.2) !important;
}
.update-flash-fade {
	transition: color 1s, background 1s;
}

.button:focus {
	box-shadow: none !important;
	color: $text-strong !important;
}

.toolbuttons {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	> *:not(:last-child) {
		margin-right: 0.5em;
	}
}

.toolbutton {
	@extend %unselectable;
	-moz-appearance: none;
	-webkit-appearance: none;

	height: 2.5em;
	width: 2.5em;
	border-radius: 100%;
	border: none;
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	background-color: #444444;
	color: #fff;

	cursor: pointer;

	&.active {
		background-color: #888888;
	}

	&.compact {
		margin: 0;
	}

	&.is-small {
		height: 1.5em;
		width: 1.5em;
	}
}

.buttons:not(:last-child) {
	margin-bottom: 0;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.flex {
	display: flex;
}
.flex1 {
	flex: 1;
}

.noBut {
	@include noBut;
}

.iconButton {
	@include noBut;
	width: 1.5em;
	height: 1.5em;
}

// Util class for sticky slots with buttons

.stickyLine {
	background: transparent;
	border: none;
	border-radius: 0;
	width: 100%;
	justify-content: flex-start;
	display: flex;

	&:focus {
		box-shadow: none;
	}
}

.filterHighlight {
	position: relative;
}

.filterHighlight > span {
	position: relative;
	z-index: 1;
}

.filterHighlight:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: change-color(mix($warning, $background, 80%), $alpha: 0.8);
	border: 1px solid #bb0;
	border-radius: 0.2em;
}
