.unreadCount {
	width: 1.8em;
	height: 1.8em;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	border-radius: 100%;
	background-color: $danger;
	font-weight: normal;
	padding: 0.1em;
	font-size: 0.8em;
}
