@import "./global_mixin";

:root {
	--channel-tree-width: 20em;
}

html {
	overflow: hidden;
	background-color: $background;
	scrollbar-color: gray transparent;
}

a {
	@include linkLike;
	
	&:hover {
		text-decoration: underline;
	}
}

.update-flash {
	color: rgba(255, 62, 0, 1) !important;
	background-color: rgba(255, 62, 0, 0.2) !important;
}
.update-flash-fade {
	transition: color 1s, background 1s;
}

.button:focus {
	box-shadow: none !important;
	color: $text-strong !important;
}

.toolbutton {
	@extend %unselectable;
	-moz-appearance: none;
	-webkit-appearance: none;

	height: 2.5em;
	border-radius: 100%;
	border: none;
	margin: 0.2em;
	font-size: 1rem;
	display: inline-flex;
	align-items: center;

	background-color: #444444;
	color: #fff;

	cursor: pointer;

	&.active {
		background-color: #888888;
	}
}

.buttons:not(:last-child) {
	margin-bottom: 0;
}

.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden !important;
}
